<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html;  charset=UTF-8">
        <title>Join</title>
    </head>
    <body>
        <div class="container">
            <form  class="/members/new" method="post">
                <div calss="form-group">
                    <label for="name">이름</label>
                    <input type="text" id="name" name="name" placeholder="Input Ur Name ! ">
                </div>
                <button type="submit">Join</button>
            </form>
        </div>
    </body>
</html>

